@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
/*-- scss:defaults --*/
// fonts
$presentation-heading-font: "Cabin Sketch",
    sans-serif !default;
$font-family-sans-serif: "Nova";
$presentation-heading-color: #ffaa00 !default;
$link-color: #ffaa00aa;
// $selection-bg: #4aaa00;
$selection-bg: #4a07aa;
$selection-color: #ffaa00;